<section class="hero is-medium is-primary is-bold">
  <div class="hero-content">
    <div class="container">
      <h1 class="title">
        Pach The Rat
      </h1>
      <h2 class="subtitle">

      </h2>
    </div>
  </div>
</section>

<div class="content is-centered" padding-left="1000px">
<img height="300" width="400" src = "http://rdcnewscdn.realtor.com/wp-content/uploads/2016/03/Pizza-rat-Imgur.gif"  />
<img height="300" width="400" src = "http://cdn.smosh.com/sites/default/files/2015/10/halloween-rat-excited-candy.gif"  />
<img height="300" width="400" src = "http://gif-finder.com/wp-content/uploads/2015/10/Baby-eating-spaghetti.gif"  />
</div>
<br>


  <a class="button is-info">
    {{rat}}
  </a>



<footer class="footer">
  <div class="container">
    <div class="content is-centered">
      <p>
        <strong>PachTheRat</strong> by <a href="http://jgthms.com">The GC</a>. The source code is licensed
        <a href="http://opensource.org/licenses/mit-license.php">MIT</a>. The website content
        is licensed <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/">CC ANS 4.0</a>.
      </p>
      <p>
        <a class="icon" href="https://github.com/jgthms/bulma">
          <i class="fa fa-github"></i>
        </a>
      </p>
    </div>
  </div>
</footer>
